@import url("https://use.typekit.net/nrf8trj.css");

$defaultSans: mr-eaves-modern, sans-serif;
$defaultWeight: 400;

html {
  font-family: $defaultSans;
  font-weight: $defaultWeight;
  font-style: normal;
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
}
