@import "./index.scss";

/* Color Vars */
:root {
  --red: #c03221;
  --white: #ffffff;
  --offWhite: #f7f7ff;
  --sand: #f2d0a4;
  --grey: #545e75;
  --green: #3f826d;
}

a {
  text-decoration: none;
  text-emphasis: none;
  color: inherit;
}

html {
  background-color: var(--sand);
}

/* Custom styles */
/* Link Buttons */
.link_button {
  margin: 1rem 0;
  padding: 0.75rem;
  border: none;
  border-radius: 18px;
  background-color: var(--green);
  color: var(--white);
  font-size: x-large;
}
.btn {
  transition: filter 150ms;
}

.btn:hover {
  filter: brightness(1.2);
}

/* Searchbox */
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--green);
  opacity: 1; /* Firefox */
  font-family: mr-eaves-modern, sans-serif;
  font-weight: 400;
  font-style: normal;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--green);
  font-family: mr-eaves-modern, sans-serif;
  font-weight: 400;
  font-style: normal;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--green);
  font-family: mr-eaves-modern, sans-serif;
  font-weight: 400;
  font-style: normal;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.searchbox {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-top: 8vh;
}

.searchbox_input {
  flex-grow: 1;
  padding: 1rem 1.75rem;
  font-size: large;
  border: none;
  // border-bottom: 1px solid var(--grey);
  border-radius: 25px 0 0 0;
}
.searchbox_button {
  background-color: var(--grey);
  border: none;
  border-radius: 0 25px 0 0;
}

/* Stats */
.ais-Stats {
  padding: 0 0.5rem;
}
/* Hits */
.hits_container {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding: 0.5rem;
  margin-bottom: 2rem;
  border: none;
  border-radius: 0 0 25px 25px;
  max-height: 66vh;
}

.simplebar-scrollbar.simplebar-visible:before {
  background: var(--grey);
}
.simplebar-scrollbar:before {
  background: var(--grey);
}

.hit_container {
  display: flex;
  flex-direction: row;
  background-color: var(--white);
  justify-content: space-between;
  padding: 0.5rem;

  img {
    margin: auto;
    max-width: 16%;
  }
}

.hit_container:hover {
  background-color: var(--sand);
}

.hit_content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  padding: 0 0.5rem;

  div {
    display: flex;
    justify-content: space-between;

    p {
      margin: 0;
      color: var(--grey);
    }
  }
}

.hit_content_title {
  margin: 0;
  font-weight: 700;
  font-size: x-large;
  color: var(--green);
  span .ais-Highlight-highlighted {
    color: var(--white);
    font-weight: 700;
    font-style: italic;
    background-color: var(--grey);
    padding: 0 4px 0 2px;
  }
}

.hit_body {
  margin: 0;
  font-size: large;
  span .ais-Highlight-highlighted {
    color: var(--white);
    font-weight: 700;
    font-style: italic;
    background-color: var(--grey);
    padding: 0 4px 0 2px;
  }
}

/* Hits Box Animation */
.hits-list-enter {
  width: 100%;
  position: relative;
  transform: translateY(-110%);
}
.hits-list-enter-active {
  width: 100%;
  transform: translateY(0%);
  transition: all 250ms ease;
}
.hits-list-exit {
  position: relative;
}
.hits-list-exit-active {
  margin: auto;
  width: 96%;
  transform: translateY(-110%);
  transition: all 250ms ease;
}

/* Header */
.title_display {
  font-family: "obviously", sans-serif;
  color: var(--white);
  margin: auto auto auto 0;
  letter-spacing: 0.2rem;
}

/* Episode Detail */

.episodeDetail_title {
  font-size: 3rem;
  color: var(--green);
  margin: 0;
  margin-bottom: 0.5rem;
}

.episodeDetail_content {
  display: flex;
  flex-direction: column;
  color: var(--grey);
  img {
    max-width: 100%;
    margin-bottom: 1rem;
  }
}

.episodeDetail_body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  max-width: 50%;

  h2 {
    margin: 0;
  }
}

/**** Responsive sizes ****/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
    margin: auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    width: 90%;
    margin: auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    width: 90%;
    margin: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    width: 75%;
    margin: auto;
  }
  .episodeDetail_content {
    display: flex;
    flex-direction: row;

    img {
      margin: auto 2rem auto 0;
      max-width: 50%;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    width: 75%;
    margin: auto;
  }
}
