@import url("https://use.typekit.net/nrf8trj.css");

$defaultSans: mr-eaves-modern, sans-serif;
$defaultWeight: 400;
/* Color Vars */
:root {
  --red: #c03221;
  --white: #ffffff;
  --offWhite: #f7f7ff;
  --sand: #f2d0a4;
  --grey: #545e75;
  --green: #3f826d;
}

* {
  font-family: $defaultSans;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
}
html {
  background-color: var(--sand);
  font-family: $defaultSans;
  font-weight: $defaultWeight;
  font-style: normal;
  font-size: 18px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  text-emphasis: none;
  color: inherit;
}
